.header {
    background: url('../../assets/header.png') center center/ cover no-repeat;
    height: 333px;
    
}
.wrapper {
    width: 100%;
    height: 333px;
    display: flex;
    align-items: center;
    .title {
        font-weight: 700;
        font-size: 50px;
        line-height: 100%;
    }
}

@media(max-width:400px) {
    .header {
        background: url('../../assets/header.png') center center/ cover no-repeat;
        height: 200px;
        
    }
    .wrapper {
        height: 200px;
        .title {
            
            font-size: 32px;
          
        }
    }
}